<div class="text-center mb-5">
    <h1 class="display-4">Welcome to the Student Page</h1>

    <!-- Navigate to StudentCardView when clicked -->
    <a class="btn btn-primary" href="/Student/StudentCard">Show Student Cards</a>
</div>
