@model Sessions.Models.User
@{
    ViewData["Title"] = "Query String Page";
}
<div class="text-center">
    <h1 class="display-4">Query Information</h1>
</div>

<h4>User</h4>
<hr>
Name: @Model.Name
<br>
Age: @Model.Age