@model Sessions.Models.User
@{
    ViewData["Title"] = "Session Page";
}
<div class="text-center">
    <h1 class="display-4">Session Information</h1>
    <p>Welcome,<b> @Model.Name! </b>You are @Model.Age years old.</p>
</div>
